/* zerarndo o css padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --bg-url: url(./assets/Background.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
 
    
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
    

}


body {
    /* imagem */
    /* background-image:  url(./assest/Background.jpg); */
    /* não repetir */
    /* background-repeat: no-repeat; */
    /* centralizar e começar no topo  */
    /* background-position: top center; */
    /*cobre todo espaço visivel pode-se usar "contain porém é necessário passar paramentros*/
    /* background-size: cover; */

    /* AGRUPANDO TODOS ACIMA código mais limpo */
    background: var(--bg-url) no-repeat top center/cover;

    /* aplica fonte e cor em todo body do projeto */
}

body * {

    font-family: 'Itim', cursive;
    color: var(--text-color);
}

/* seletor de ID PX(pixel é a un de medidas do css*/

#container {
    /* borda 1 */
    /* border: 1px solid rgb(12, 206, 157) ; */
    width: 360px;
    /* preenchimento da borda onde esta comentado '1' */
    margin: 56px auto 0px auto;

}

/* alinhamento no centro */
#profile {
    text-align: center;
    padding: 24px;
}

/* propriedades da imagem */
#profile img {
    width: 112px;
}

#profile p {
    /* peso da fonte */
    font-weight: 500;
    /* autura da linha */
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;
  
    margin: 4px auto;
  }
  
  #switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  
    animation: slide-back 0.2s;
  }
  
  .light #switch button {
    animation: slide-in 0.2s forwards;
  }
  
  #switch button:hover {
    outline: 8px solid var(--highlight-color);
  }
  
  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
    
  }
/* links - lista */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;

}

ul li a {
    /* alinhamento texto */
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    /* propriedades botões */
    backdrop-filter: blur(4px) ;
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: backgound 0.2s;
}

/* pseudo-selector */

ul li a:hover {
    background: var(--surface-color);
    border: 1.5px solid var(--text-color);
}

/* social links */
#social-icons {
    display: flex;
    justify-content: center;

    gap: 32px;

    padding: 24px 0;

    font-size: 24px;

}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition:   0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
  }
